h1
{
  color: white;
  font-size: 15px;
}

body 

{
  background-color: blue;
}

#carte
{
   width: 800px;
   margin:0 auto;
   background-color: white;
   text-align: center;
   align-content: center;
}
   
h3
{
   color: blue;
   font-size: 15px;
}

h4
{
   color: blue;
   font-size: 15px;
}


h5
{
   color: blue;
   font-size: 15px;
}

h6
{
   color: blue;
   font-size: 18px;
}

}

h7
{
   color: blue;
   font-size: 15px;
}
h8
{
   color: blue;
   font-size: 15px;
}
